
{% extends "base/header.html" %}
{% block content %}
	<div left-padding="30px" padding-top = "50px">
	<div class="well">
        <p> Looking for developers! Please contact me if you are interested in working with django!</p>
    </div>
		<span class="label label-success">Contact me</span>
	</div>
		<div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Gmail</h3>
            </div>
            <div class="panel-body">
              sharmakartikey54@gmail.com
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Facebook</h3>
            </div>
            <div class="panel-body">
              <p> <a href="https://www.facebook.com/kartikey.sharma.3158652">Kartikey Sharma </a></p>
            </div>
          </div>
        </div>
        
{% endblock %}