
{% extends "base/header.html" %}
{% block content %}
<div style="color:white;">
<h1 style="text-align:center">Welcome to Sinima</h1>
<h5 style="text-align:center">Your locally hosted source of fun!</h5>
<br><br><br>
<h3 style="text-align:center">Do you want to watch a movie or a show?</h3>
 <div style="text-align:center;">
     <a href="/movie/"><img src="http://www.myiconfinder.com/uploads/iconsets/401bacb05a711c6ceabcd9096b29ee1d-clapper.png" style='border-radius: 15px;' padding-right='20px'  height="180" width="180" /></a>
     <a href="/show/"><img src="http://png-4.findicons.com/files/icons/1253/flurry_extras/256/tv.png" height="200" width="200" padding-left = '50px'; style='border-radius: 15px;' /></a>
 </div>
 </div>
{% endblock %}